<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>
<body>
<section>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-2 vh-100 bg-info p-4" style="overflow-y: auto; max-height: 100vh;">
      </div>

      <div id="chat" class="col-8 d-flex flex-column flex-grow-1 vh-100 p-0">
        <div id="messages" class="flex-grow-1" style="overflow-y: auto; max-height: 90vh;">
        </div>

        <div id="compose">
          <div id="typing-info"></div>
          <form id="message-form" class="d-flex align-items-center">
            <div class="form-group flex-grow-1 col-12">
              <label>
                <input type="text" name="message" class="form-control" placeholder="Message" required autocomplete="off">
              </label>
            </div>
            <div class="form-group ml-2">
              <button class="btn btn-warning btn-lg">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Повідомлення -->
<script id="message-template" type="text/html">
  <div class="alert message {{bgClass}}">
    <div>
      <span class="message-name">{{username}}</span>
      <span class="message-meta">{{createdAt}}</span>
    </div>
    <div>{{message}}</div>
  </div>
</script>

<!-- Сайдбар -->
<script id="sidebar-template" type="text/html">
  <div class="alert alert-primary">
    Room: <strong>{{room}}</strong><br>
    Username: <strong>{{currentUser}}</strong>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">Users in the chatroom</li>
    {{#users}}
    <li class="list-group-item">{{username}}</li>
    {{/users}}
  </ul>
</script>

<!-- Підключення бібліотек та скриптів -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

<script>
  // Оголошення змінних для елементів DOM
  const $messageForm = document.querySelector("#message-form")
  const $messageFormInput = $messageForm.querySelector("input");
  const $messageFormButton = document.querySelector("button")
  const $messages = document.querySelector("#messages")

  // Отримання шаблонів з документу
  const messageTemplate = document.querySelector("#message-template").innerHTML
  const sidebarTemplate = document.querySelector('#sidebar-template').innerHTML

  // Отримання інформації про користувача та кімнату з URL
  const { username, room } = Qs.parse(location.search, { ignoreQueryPrefix: true }) // Парсимо URL для отримання даних про користувача і кімнату

  let socket = io(); // Ініціалізуємо сокет

  // Прослуховування подій з сокетів
  socket.on('message', (message) => {
    console.log(message)
    let bgClass = 'bg-warning text-white'
    if (message.username === username.toLowerCase()) { // Перевіряємо, чи це повідомлення від користувача
      bgClass = 'bg-success text-white pull-right' // Якщо так, то змінюємо стиль для правильного вирівнювання
    } else if (message.username === 'Admin') { // Перевіряємо, чи це повідомлення від адміністратора
      bgClass = 'bg-info text-white' // Якщо так, то змінюємо стиль для повідомлень від адміністратора
    }

    // Рендеринг повідомлення за допомогою Mustache
    const html = Mustache.render(messageTemplate, {
      username: message.username,
      message: message.text,
      bgClass: bgClass,
      createdAt: moment(message.createdAt).format('h:mm a') // Форматуємо дату
    })
    $messages.insertAdjacentHTML('beforeend', html) // Додаємо повідомлення до контейнера
  })

  // Прослуховування подій з сокетів для оновлення інформації про користувачів у сайдбарі
  socket.on('roomData', ({ users }) => {
    const html = Mustache.render(sidebarTemplate, {
      room,
      currentUser: username,
      users
    })
    document.querySelector('#sidebar').innerHTML = html // Оновлюємо інформацію про користувачів у сайдбарі
  })

  // Обробник подій для форми відправлення повідомлень
  $messageForm.addEventListener('submit', (e) => {
    e.preventDefault(); // Забороняємо стандартну поведінку форми

    const message = e.target.elements.message.value; // Отримуємо текст повідомлення з поля введення

    if (message.includes("@")) { // Перевіряємо, чи повідомлення містить символ @
      let stringArray = message.split(" "); // Розбиваємо повідомлення на масив слів
      let username = stringArray[0].replace(/[@:]/g, ""); // Витягуємо ім'я користувача з першого слова
      let newMessage = message.replace(stringArray[0], ""); // Видаляємо ім'я користувача з повідомлення

      // Відправлення приватного повідомлення за допомогою сокетів
      socket.emit('sendPrivateMessage', { message: newMessage, username }, (error) => {
        console.log("private message: ", newMessage, "username: ", username);
        if (error) {
          console.error(error);
        } else {
          $messageFormInput.value = ''; // Очищаємо поле введення
          $messageFormInput.focus(); // Передаємо фокус на поле введення
          $messageFormButton.removeAttribute('disabled'); // Активуємо кнопку відправлення
        }
      });
    } else {
      // Відправлення повідомлення за допомогою сокетів
      socket.emit('sendMessage', message, (error) => {
        if (error) {
          console.error(error);
        } else {
          $messageFormInput.value = '';
          $messageFormInput.focus();
          $messageFormButton.removeAttribute('disabled');
        }
      });
    }
  });

  // Підключення до кімнати чату за допомогою сокетів
  socket.emit('join', { username, room }, (error) => {
    if (error) {
      alert(error)
      location.href = '/' // Перенаправляємо на головну сторінку у разі помилки
    }
  });

  // Показ інформації про те, що користувач пише повідомлення
  const $typingInfo = document.querySelector("#typing-info");

  socket.on('userIsTyping', (username) => {
    $typingInfo.textContent = `${username} is typing...`;
    setTimeout(() => {
      $typingInfo.textContent = '';
    }, 2000);
  });

  // Відправлення події про те, що користувач пише повідомлення
  $messageFormInput.addEventListener('input', () => {
    socket.emit('userIsTyping');
  });

  // Прослуховування подій для приватних повідомлень
  socket.on('privateMessage', (message) => {
    const html = Mustache.render(messageTemplate, {
      username: message.username,
      message: message.text,
      bgClass: 'bg-primary text-white',
      createdAt: moment(message.createdAt).format('h:mm a')
    });

    $messages.insertAdjacentHTML('beforeend', html)
  });

  // Прослуховування подій для сповіщень
  socket.on('notification', (message) => {
    console.log(message);
    const html = Mustache.render(messageTemplate, {
      message: message,
      bgClass: 'bg-primary text-white',
      createdAt: moment(message.createdAt).format('h:mm a')
    });

    $messages.insertAdjacentHTML('beforeend', html)
  })

</script>
</body>
</html>
